// Typography

$title-font: 'Montserrat', sans-serif;
$primary-font: 'Montserrat', sans-serif;
$light: 300;
$regular: 500;
$bold: 700;
$letter-spacing: 0.03rem;
$letter-spacing-2x: 0.06rem;
$letter-spacing-big: 0.1rem;
$lsp-extra: 0.2rem;

// Color Palette

$primary: #ada49d;
$primary-hover: #887b72;
$primary-transparent: rgba(173,164,157,0.98);
$primary-transparent-2: rgba(173,164,157,0.5);
$secondary: #eeeceb;
$secondary-hover: #d3d1d1;
$success: #80c77b;
$success-hover: #5e985a;
$info: #64b7cf;
$info-hover: #4b90a4;
$warning: #da9755;
$warning-hover: #b27941;
$danger: #d54a4a;
$danger-hover: #ad3636;
$title-color: #333;
$text-color: #777;
$light-bg-color: #f7f7f7;
$dark-bg-color: #222;
$body-bg: #fefefe;
$light-body-bg: #fff;
$dark-body-bg: #111;
$white: #fff;
$light-grey: #fafafa;
$light-mid-grey: #ddd;
$grey: #aaa;
$mid-grey: #999;
$dark-grey: #333;
$deep-grey: #222;
$inverse-color: #232323;
$black: #000;

// Social Colors

$facebook: #4e68a1;
$facebook-hover: #3b4f7a;
$twitter: #65b5f2;
$twitter-hover: #5294c6;
$google: #e05d4b;
$google-hover: #b94c3d;
$linkedin: #2083bc;
$linkedin-hover: #186592;
$pinterest: #d2373b;
$pinterest-hover: #ad2c2f;
$dribbble: #ec5f94;
$dribbble-hover: #b4446e;
$instagram: #4c5fd7;
$instagram-hover: #4252ba;
$youtube: #e52d27;
$youtube-hover: #b31217;